body {

}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    color: #e7820f;
    text-shadow: 0px 0px 3px #99b7e4
} 

h2 {
    color: #e7820f;
    font-family: "Papyrus", "Courier New"; monospace; 
}

.anchor:before { content: ''; display: block; position: relative; width: 0; height: 5em; margin-top: -5em }

.top-container h1, .top-container h2 {
    color: #000;
}

.main a i {
    transition: 0.5s;
}

.main a:hover {
    color: #e7820f;
}

.top-container {
    position: relative;
}

.top-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url("istockphoto-874848020-612x612");
    background-repeat: no-repeat;
    background-position: 150% 150%;
    background-size: cover;
}


.top-container > .container {
    background: rgba(184, 233, 243, 0.918);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
}

.main-img img {
    border-color: #CCC;
    transition: ease-in-out 1s;
}

.main-img img:hover {
    border-color: #e7820f !important;
}

.full-width {
    width: 100%;
}

.tags span {
    border: 2px dotted#e7820f;
    color: #3768b1;
    padding: 5px 8px;
    display: inline-block;
    margin: 2px;
    border-radius: 12px;
    font-size: 0.8rem;
}

.experience > ul, .education ul {
    list-style: none;
    padding: 0;
}

.experience > ul > li, .education > ul > li {
    padding: 10px 0;
}

.skills {
    font-size: 0.8rem;
}

.skills .progress-bar {
    transition: none;
}

.progress-bar {
    background-color:#3768b1 ;

}

.outset {border-bottom: outset;}

.sectiondiv {
    margin-bottom: 40px;
}
